:root {
    --primeira-cor: #3db6e5;
    --segunda-cor: #ebea52;
    --terceira-cor: #2d8c2a;
    --background-cor: #092635;
    --fonte-site: 'Rubik', sans-serif;
    --transition05: 0.5s;
    --transition1: 1s;
    --transition15: 1.5s;
}

/* * {
    padding: 10px;
    background-color: var(--background-cor);
    box-sizing: inherit;
} */

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: var(--background-cor);
}

.text_class {
    display: flex;
    text-align: center;
    margin: 40px;
    padding: 40px;
    color: white;
    font-family: var(--fonte-site);
    font-size: 20px;
}

.image_nav{
    max-width: 120px;
    position: absolute;
    top: 2.5em;
    left: 5em;
}

.image_nav:hover{
    transition: var(--transition05);
    max-width: 170px;
    text-shadow: var(--segunda-cor) 10px 10px;
}

.menu_navegacao{
    position: absolute;
    top: 5.5em;
    left: 18rem;
}

.btn1, .btn2, .btn3, .btn4, .btn5, .btn6, .btn7 {
    font-family: var(--fonte-site);
    text-decoration: none;
    color: var(--primeira-cor);
    cursor: pointer;
    padding: 10px 10px 10px 10px;
    gap: 40%;
    transition: color 0.3s;
}

.btn1:hover {
    color: var(--segunda-cor);
    background-color: var(--primeira-cor);
    transition: 0.9s;
    text-transform: uppercase;
    text-shadow: var(--primeira-cor);
    letter-spacing: 0.20em;
}

.btn2:hover {
    color: var(--segunda-cor);
    background-color: var(--primeira-cor);
    transition: 0.9s;
    text-transform: uppercase;
    text-shadow: var(--primeira-cor);
    letter-spacing: 0.20em;
}

.btn3:hover {
    color: var(--segunda-cor);
    background-color: var(--primeira-cor);
    transition: 0.9s;
    text-transform: uppercase;
    text-shadow: var(--primeira-cor);
    letter-spacing: 0.20em;
}
.btn4:hover {
    color: var(--segunda-cor);
    background-color: var(--primeira-cor);
    transition: 0.9s;
    text-transform: uppercase;
    text-shadow: var(--primeira-cor);
    letter-spacing: 0.20em;
}

.btn5:hover {
    color: var(--segunda-cor);
    background-color: var(--primeira-cor);
    transition: 0.9s;
    text-transform: uppercase;
    text-shadow: var(--primeira-cor);
    letter-spacing: 0.2em;
}

.btn6:hover {
    color: var(--segunda-cor);
    background-color: var(--primeira-cor);
    transition: 0.9s;
    text-transform: uppercase;
    text-shadow: var(--primeira-cor);
    letter-spacing: 0.20em;
}
.btn7:hover {
    color: var(--segunda-cor);
    background-color: var(--primeira-cor);
    transition: 0.9s;
    text-transform: uppercase;
    text-shadow: var(--primeira-cor);
    letter-spacing: 0.20em;
}
/* .box {
    position: absolute;
    top: 80%;
    right: 40%;
    left: 25%;
    background-color: var(--primeira-cor);
    align-items: center;
    box-sizing: inherit;
}

.new {
    color: white;
    border-color: #2d8c2a;
    align-items: center;
} */

.section_text {
    padding: 50px;
    border: 20em;
    position: absolute;
    top: 20em;
    left: 20em;
    right: 20em;
    align-items: center;
}

.primeiro_texto {
    text-align: center;
    color: white;
    font-family: var(--fonte-site);
    padding: 8px 8px 8px 8px;
    /* margin: 1px; */
}

.primeiro_texto_destaque {
    text-align: center;
    color: var(--segunda-cor);
}

.primeiro_texto_destaque:hover {
    color: var(--primeira-cor);
    text-shadow: var(--segunda-cor) 3px 3px;
    cursor: move;
    font-size: 34px;
    transition: 1s;
    transition-duration: 0.2s;
}

.segundo_texto {
    color: white;
    text-align: center;
    font-family: var(--fonte-site);
    font-size: 18px;
    padding: 10px 10px 10px 10px;
    margin: 10px;
}

.segundo_texto:hover {
    color: var(--primeira-cor);
    cursor: all-scroll;
    font-size: 18px;
    transition: 1s;
    transition-duration: 0.2s;
}

.rodape_sociais {
    border: 10px 10px 10px 10px;
    display: flex;
    flex-basis: auto;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 45em;
    left: 40%;
    right: 40%;
}

.rodape_sociais_links {
    border: 10px 10px 10px 10px;
    width: 100px;
    height: 90px;
    padding: 0px;
    border: 0px;
    max-width: 100px;
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    filter: invert(100%);
}

.rodape_sociais_links:hover {
    border: 10px 10px 10px 10px;
    width: 100px;
    height: 90px;
    padding: 0px;
    border: 0px;
    max-width: 350px;
    transition: 0.4s;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: invert(0%);
    color: var(--primeira-cor);
}

/* .image_nav{
    max-width: 120px;
    position: absolute;
    top: 2.5em;
    left: 5em;
}

.image_nav:hover{
    transition: var(--transition05);
    max-width: 170px;
    text-shadow: var(--segunda-cor) 10px 10px;
} */